/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

/* ==== ROOT RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
*::before,
*::after {
  box-sizing: border-box;
}

/* ==== CSS VARIABLES ==== */
:root {
  --primary-color: #335eea;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
  --font-size-body-text: clamp(14px, 1.6vw, 16px);
  --h1-font-size: calc(var(--font-size-body-text) * 2.4);
  --h2-font-size: calc(var(--h1-font-size) - 15px);
}

/* ==== RESET HTML ==== */
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fafbfb;
}

/* ==== CONTAINER ==== */
.container {
  width: 100%;
}
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}

/* ==== HEADER WITHOUT NAVIGATION ==== */
.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}
/* Logo Styling */
.logo img {
    height: 50px; /* Adjust height as needed */
    width: auto; /* Keeps aspect ratio */
}
/* ==== WRAPPER ==== */
.wrapper {
  width: 100%;
  padding: 5rem 1.7rem;
  margin-bottom: 5rem;
}

.grid-cols-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.main-heading {
  font-weight: 300;
  font-size: var(--h1-font-size);
  line-height: 1.1;
  color: var(--primary-color);
}
.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  color: #334157;
}

.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
}
.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  font-size: 16px;
  color: #fff;
  border-radius: 7px;
  transition: 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}

.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}

/* ==== MEDIA QUERIES FOR RESPONSIVENESS ==== */
@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    text-align: center;
  }
  .btn_wrapper {
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }
}
