body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white; /* Ensure all text is white */
    position: relative;
    overflow-x: hidden;
    font-family: Times New Roman, serif;
    text-align: center ;
}
